:root {
  --cinza-fundo: #f7f7f7;
  --cinza-texto: #c6c6c6;
  --vermelho: #ee2211;
}

body{ 
  margin: 0px;
  display: grid;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--cinza-fundo);
}

.logo {
  margin-top: 50px;
  text-align: center;
}

.nav {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.nav a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  color: black;
  font-size: 22px;
  text-transform: uppercase;
  
}

.conteudo a {
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  background-color: var(--vermelho);
  font-size: 22px;
}

img {
  max-width: 100%;
}

p {
  font-size: 20px;
}

h1 {
  font-size: 30px;
}

.conteudo {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  background: white;
  padding: 40px;
  text-align: right;
  display: grid;
  align-content: center;
  justify-items: end;
  
}
.vantagens {
  background: white;
  padding: 40px;
}

.subtitulo {
  font-size: 80px;
  color: var(--cinza-texto);
  text-align: right;
  padding: 40px;
  display: grid;
  align-content: center;
}

.rodape {
  background-color: white;
  text-align: center;
  margin: 0;

}