:root {
  --cinza-fundo: #f7f7f7;
  --cinza-texto: #c6c6c6;
  --vermelho: #ee2211;
}

body{ 
  margin: 0px;
  display: grid;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--cinza-fundo);
}

.logo {
  margin-top: 50px;
  text-align: center;
}

.nav {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.nav a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  color: black;
  font-size: 1.335rem;
  text-transform: uppercase;
  
}

.nav a:hover {
  border: 1px solid #900
}

.conteudo a {
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  background-color: var(--vermelho);
  font-size: 1.375rem;
}

img {
  max-width: 100%;
}

p {
  font-size: 1.25rem;
}

h1 {
  font-size: 1.875rem;
}

.conteudo {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  background: white;
  padding: 40px;
  text-align: right;
  display: grid;
  align-content: center;
  justify-items: end;
  
}

.introducao a:hover {
  background-color: #900;
}

.introducao h1 {
  position: relative;
}

.introducao h1::after{
  content: '';
  width: 40px;
  height: 4px;
  background-color: #ee2211;
  display: inline-block;
  position: absolute;
  bottom: 90px;
  right: -60px;
}

.vantagens {
  background: white;
  padding: 40px;
}

.vantagens-item {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 10px 20px;
}

.vantagens-item:hover {
  border-left: #ee2211 solid 4px;
}

.vantagens-item p {
  grid-column: 2;
}

.vantagens-item:nth-child(odd) {
  background-color: var(--cinza-fundo);
}

.subtitulo {
  font-size: 80px;
  color: var(--cinza-texto);
  text-align: right;
  padding: 40px;
  display: grid;
  align-content: center;
  background-image: url(./img/onda.svg);
}

.rodape {
  background-color: white;
  text-align: center;
  margin: 0;
}